<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">ProManage</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">

                {% if user.is_authenticated %}
                    <li class="nav-item me-3 text-white">
                        Hello, {{ user.username }}
                    </li>
                    <li class="nav-item">
                        {% comment %}<a class="btn btn-outline-light btn-sm" href="{% url 'logout' %}">{% endcomment %}
                        Logout
                        {% comment %}</a>{% endcomment %}
                    </li>
                {% else %}
                    <li class="nav-item me-2">
                        {% comment %}<a class="btn btn-outline-light btn-sm" href="{% url 'login' %}">{% endcomment %}
                        Login
                        </a>
                    </li>
                    <li class="nav-item">
                        {% comment %}<a class="btn btn-primary btn-sm" href="{% url 'register' %}">{% endcomment %}
                        Register
                        {% comment %}</a>{% endcomment %}
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
