<aside id="sidebarMenu"
       class="col-md-3 col-lg-2 d-md-block bg-dark text-white collapse vh-100">

    <div class="position-sticky pt-4">

        <h6 class="px-3 mb-3 text-uppercase text-secondary">
            Navigation
        </h6>

        <ul class="nav flex-column px-2">

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'dashboard' %}">
                    <i class="bi bi-speedometer2 me-2"></i>Dashboard
                </a>
            </li>

            {% if user.profile.role == "admin" %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/users">
                        <i class="bi bi-people me-2"></i>User Management
                    </a>
                </li>
            {% endif %}

            {% if user.profile.role == "admin" %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/projects/admin">
                        <i class="bi bi-folder2-open me-2"></i>Projects
                    </a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'messages' %}">
                    <i class="bi bi-chat-dots me-2"></i>Messages
                </a>
            </li>

        </ul>
    </div>
</aside>
