{% if user.is_authenticated %}
    <aside class="col-md-3 col-lg-2 d-md-block bg-white sidebar border-end">
        <div class="position-sticky pt-4 px-3">

            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link active" href="#">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link" href="#">
                        Projects
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link" href="#">
                        Messages
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link" href="#">
                        Profile
                    </a>
                </li>
            </ul>

        </div>
    </aside>
{% endif %}
