{% extends "base.html" %}
{% block content %}

    <div class="card shadow-sm mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <h5 class="mb-3">
                <i class="bi bi-shield-lock me-2"></i>Set New Password
            </h5>

            <form method="post" id="pwdForm" novalidate>
                {% csrf_token %}
                <div id="alertBox"></div>
                <input type="password"
                       name="new_password1"
                       class="form-control mb-2"
                       placeholder="New password"
                       required>

                <input type="password"
                       name="new_password2"
                       class="form-control mb-2"
                       placeholder="Confirm password"
                       required>

                <small class="text-muted">
                    Min 8 chars, 1 letter, 1 number
                </small><br/>

                <button class="btn btn-success">Reset</button>
            </form>
        </div>
    </div>
    <script>
        document.getElementById("pwdForm").onsubmit = function (e) {
            if (!validatePassword(this.new_password1.value)) {
                e.preventDefault();
                showAlert("warning", "Password must be at least 8 characters and include 1 letter and 1 number.");
            }
            if (this.new_password1.value !== this.new_password2.value) {
                e.preventDefault();
                showAlert("warning", "Passwords do not match");
            }
        }

        function showAlert(type, message) {
            const alertBox = document.getElementById("alertBox");
            alertBox.innerHTML = `
            <div class="alert alert-${type} alert-dismissible fade show">
                ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        `;
        }

        function validatePassword(pass) {
            // Minimum eight characters, at least one letter and one number
            const re = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
            return re.test(pass);
        }
    </script>

{% endblock %}