{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="card shadow-sm mx-auto max-width-400">
        <div class="card-body">
            <h5 class="mb-3">
                <i class="bi bi-shield-lock me-2"></i>Set New Password
            </h5>

            <form method="post" id="pwdForm" novalidate>
                {% csrf_token %}
                <div id="alertBox"></div>
                <input type="password"
                       name="new_password1"
                       class="form-control mb-2"
                       placeholder="New password"
                       required>

                <input type="password"
                       name="new_password2"
                       class="form-control mb-2"
                       placeholder="Confirm password"
                       required>

                <small class="text-muted">
                    Min 8 chars, 1 letter, 1 number
                </small><br/>

                <button class="btn btn-success">Reset</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/password_reset.js' %}"></script>
{% endblock %}