{% extends "base.html" %}
{% block content %}

    <h5 class="mb-3">
        <i class="bi bi-people"></i> Users
    </h5>

    <div class="row">
        {% for u in users %}
            <div class="col-md-3 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h6>{{ u.username }}</h6>

                        <span class="badge
          {% if u.profile.role == 'manager' %}bg-warning
          {% else %}bg-info{% endif %}">
          {{ u.profile.role }}
        </span>

                        <div class="mt-2">
                            <button class="btn btn-sm btn-outline-secondary"
                                    onclick="showConfirmModal({{ u.id }})">
                                {% if u.is_active %}
                                    Disable
                                {% else %}
                                    Enable
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Action</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to change the status of this user?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let selectedUserId = null;
        const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));

        function showConfirmModal(id) {
            selectedUserId = id;
            confirmModal.show();
        }

        document.getElementById("confirmBtn").onclick = function () {
            if (selectedUserId) {
                toggleUser(selectedUserId);
            }
        };

        function toggleUser(id) {
            fetch(`/users/${id}/toggle/`, {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Error updating user.");
                }
            });
        }
    </script>

{% endblock %}
