{% extends "base.html" %}
{% block content %}

    <h4 class="mb-4">
        <i class="bi bi-folder2-open me-2"></i>My Projects
    </h4>
    <button class="btn btn-success btn-sm mb-3"
            data-bs-toggle="modal"
            data-bs-target="#projectModal">
        <i class="bi bi-plus-circle"></i> New Project
    </button>


    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        {% for project in projects %}
            <div class="col">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ project.name }}</h5>
                        <p class="card-text text-muted">
                            {{ project.description|truncatechars:100 }}
                        </p>
                    </div>

                    <div class="card-footer bg-transparent border-top-0 pb-3">
                        <a href="{% url 'project_detail' project.id %}"
                           class="btn btn-outline-primary btn-sm w-100">
                            View Project
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-muted">No projects found.</p>
            </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="projectModal">
        <div class="modal-dialog">
            <div class="modal-content p-3">

                <h5>Create Project</h5>

                <form id="projectForm">
                    {% csrf_token %}
                    <input class="form-control mb-2" name="name"
                           placeholder="Project name">
                    <textarea class="form-control mb-2"
                              name="description"
                              placeholder="Description"></textarea>

                    <button type="button"
                            class="btn btn-primary"
                            onclick="createProject()">
                        Create
                    </button>
                </form>

            </div>
        </div>
    </div>
    <script>
        function createProject() {
            fetch("{% url 'create_project' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken":
                    document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: new FormData(
                    document.getElementById("projectForm")
                )
            })
                .then(res => res.json())
                .then(data => {
                    window.location.reload();
                });
        }
    </script>
{% endblock %}